Repository subhaniin/Python, changes with the labels that .github/labeler.yml gives for each.
All labels: bug, documentation, tests, ci/cd, dependencies, config

initial commit
  DATA/PYTHON_PGSQL_ETL.py
Labels: none

commit
  DATA/dynamic_pwd_secure_ETL_ssms_pgsql.py
Labels: none

renam
  DATA/PYTHON PGSQL ETL.py
Labels: none

commit
  DATA/PYTHON_PGSQL_ETL.py
Labels: none

initial commit
  .github/Objects.py
Labels: none

commit
  .github/Objects.py
Labels: none

commit
  calc.py
Labels: none

initial commit
  nesteddata.py
Labels: none

commi
  nesteddata.py
Labels: none

dc
  calc.py
  rough2.py
Labels: none

ic
  JEMPS2634H.json
  itr3_table.csv
  json to pandas.py
  output.csv
Labels: config

cc
  add.py
Labels: none

cc
  patterns.py
Labels: none

cc
  untitled.py
Labels: none

ic
  delete.py
Labels: none

ic
  a=map(int,input().py
Labels: none

ic
  DSA.py
Labels: none

ic
  DATA/Psycopg_practice.py
Labels: none

ic
  DATA/SQL_practice.py
Labels: none

ic
  piano.py
Labels: none

cc
  piano.py
Labels: none

ic
  GUI_Calcy.py
Labels: none

cc
  DSA.py
Labels: none

cc
  calc.py
Labels: none

cc
  delete.py
Labels: none

cc
  rough.py
Labels: none

IC
  defagecheck.py
Labels: none

ic
  defmath.py
Labels: none

cc
  DSA.py
Labels: none

cc
  rough.py
Labels: none

cc
  tests/sample_test.py
Labels: tests

cc
  smart_entry.py
Labels: none

cc
  selenium/tests/sample_test.py
Labels: none

ic
  cryptography1.py
Labels: none

cc
  DSAnotes.py
Labels: none

cc
  rough2.py
Labels: none

cc
  rough2.py
Labels: none

cc
  rough2.py
Labels: none

ic
  custom_ladder.py
Labels: none

ic
  DATA/Datarough.py
Labels: none

.github/labeler.yml:

# Apply 'bug' label if PR modifies any file in the 'src/' directory
bug:
  - "src/**"

# Apply 'documentation' label for changes in the 'docs/' directory
documentation:
  - "docs/**"

# Apply 'tests' label if any test file is changed
tests:
  - "tests/**"

# Apply 'CI/CD' label for changes in GitHub Actions workflow files
ci/cd:
  - ".github/workflows/**"

# Apply 'dependencies' label for updates to package files
dependencies:
  - "package.json"
  - "requirements.txt"

# Apply 'config' label for changes in YAML and config files
config:
  - "**/*.yml"
  - "**/*.yaml"
  - "**/*.json"
