Repository subhaniin/Python, changes with the labels that .github/labeler.yml gives for each.
All labels: bug, documentation, tests, ci/cd, dependencies, config

Added labeler workflow
  path.py
Labels: none

Removed duplicate workflow file
  .github/workflows/labeler.yml
Labels: ci/cd, config

psudo calcy
  calc.py
Labels: none

initial commit
  Randomdata.py
Labels: none

initial commit
  Pygames/Clash.py
Labels: none

initial commit
  tests/sample_test.py
Labels: tests

domain change
  tests/sample_test.py
Labels: tests

commit
  rough.py
Labels: none

practice
  codingninjaselenium.py
Labels: none

initial commit
  pandaspractive.py
Labels: none

Reorganized files
  DATA/pandaspractive.py
  DATA/pythonsql.py
  DATA/pythonsql2.py
  Python Automation/youtube download.py
Labels: none

practice
  rough.py
Labels: none

practice
  rough.py
Labels: none

practice
  rough.py
Labels: none

initial commit
  DATA/PYTHON PGSQL ETL.py
Labels: none

commit
  DATA/PYTHON PGSQL ETL.py
Labels: none

rough commit
  DATA/ETL_SSMS_PGSQL.py
Labels: none

added parameter.tex
  .gitignore
Labels: none

initial commit
  DATA/ETL_PGSQL_MySQL.py
Labels: none

added paremeter.txt to gitignore
  DATA/parameter.txt
Labels: none

initial commit
  DATA/ETL_SSMS_PGSQL.py
Labels: none

daily practice
  DATA/ETL_PGSQL_MySQL.py
  DATA/ETL_SSMS_PGSQL.py
  rough1.py
Labels: none

initial commit
  rough1.py
Labels: none

commit
  DATA/ETL_PGSQL_MySQL.py
Labels: none

daily practice
  DATA/ETL_SSMS_PGSQL.py
Labels: none

daily practice
  rough1.py
Labels: none

daily practice
  DATA/ETL_SSMS_PGSQL.py
Labels: none

rename
  DATA/parameter.txt
Labels: none

modified ignores
  .gitignore
Labels: none

updated gitignore
  .gitignore
Labels: none

modified gitignore
  .gitignore
Labels: none

initial commit
  DATA/secure_ETL_ssms_pqsql.py
Labels: none

deleted
  DATA/ETL_SSMS_PGSQL.py
Labels: none

file rename
  DATA/Unsecure_ETL_SSMS_PGSQL.py
Labels: none

initial commit
  DATA/secure_ETL_ssms_pgsql.py
Labels: none

renamed files as per sec type
  DATA/dynamic_pwd_secure_ETL_ssms_pgsql.py
  DATA/env_var_secure_ETL_PGSQL_MySQL.py
  DATA/env_var_secure_ETL_SSMS_PGSQL.py
Labels: none

added dynamic secure opt
  DATA/dynamic_pwd_secure_ETL_PGSQL_MySQL.py
Labels: none

update
  DATA/dynamic_pwd_secure_ETL_PGSQL_MySQL.py
Labels: none

commit
  DATA/dynamic_pwd_secure_ETL_PGSQL_MySQL.py
Labels: none

commit
  DATA/dynamic_pwd_secure_ETL_ssms_pgsql.py
Labels: none

.github/labeler.yml:

# Apply 'bug' label if PR modifies any file in the 'src/' directory
bug:
  - "src/**"

# Apply 'documentation' label for changes in the 'docs/' directory
documentation:
  - "docs/**"

# Apply 'tests' label if any test file is changed
tests:
  - "tests/**"

# Apply 'CI/CD' label for changes in GitHub Actions workflow files
ci/cd:
  - ".github/workflows/**"

# Apply 'dependencies' label for updates to package files
dependencies:
  - "package.json"
  - "requirements.txt"

# Apply 'config' label for changes in YAML and config files
config:
  - "**/*.yml"
  - "**/*.yaml"
  - "**/*.json"
